@model Rent
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-10">
            <div class="border pt-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@((Model == null || Model.Course == null) ? "değistir" : "satin al")</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="StudentId" class="p-0">öğrenci no:</label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CourseId" class="p-0">kurs no:</label>
                    <select asp-for="CourseId" asp-items="ViewBag.CourseList" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="Course" class="p-0">bilgi</label>
                    <input asp-for="Course" class="form-control" />
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="RentPrice" class="p-0">kira fiyatı:</label>
                    <input asp-for="RentPrice" class="form-control" />
                    <span asp-validation-for="RentPrice" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="RentName" class="p-0">kira adı</label>
                    <input asp-for="RentName" class="form-control" />
                    <span asp-validation-for="RentName" class="text-danger"></span>
                </div>

               
                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-dark" style="width:200px;">yeni ekle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-dark" style="width:200px;">satın al</button>
                }
                <a asp-controller="Course" asp-action="Index" class="btn btn-lg btn-dark" style="width:200px;">geri dön</a>
            </div>
        </div>
        <div class="col-2">
            @if (Model?.Course?.File != null)
            {
                <br />
                <img src="@Model.Course.File" width="100%"
                     style="border-radius:7px; border:1px solid #bbb9b9" />
            }
        </div>
    </div>
</form>
