@model CourseCategory
<form method="post">
    <div class="border pt-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-dark">kategori ekle</h2>
            
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="p-0">kategori adı:</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-dark" style="width:200px;">Ekle</button>
        <a asp-controller="CourseCategory" asp-action="Index" class="btn btn-lg btn-dark" style="width:200px;">geri dön</a>
    </div>
</form>