@model CourseCategory

<div id="addModalContent" class="modal-content">
    <form method="post">
        <div class="border pt-3 mt-5">
            <div class="row pb-3">
                <h2 class="text-dark">Kategori Ekle</h2>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" onclick="closeAddModal()"></button>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="p-0">Kategori Adı:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-dark" style="width:200px;">Ekle</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function closeAddModal() {
            $('#addModal').modal('hide');
        }
    </script>
}
