<div class="confirmation-container">
    <h2>Satın Alma Başarılı</h2>
    <p>Satın alma işleminiz başarılı bir şekilde gerçekleştirildi!</p>
    <a href="@Url.Action("Index", "Buy")">Kurslar Sayfasına Dön</a>
</div>
