@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:#001933"; class="display-4">Eğitim Yönetim Platformu</strong></h1>
    <br />
    <p>
        <img src="~/img/main.jpg" />
    </p>

   
</div>
